article img + article ul {
  margin-top: 77px;
}
article ul {
  list-style-type: disc;
}
article p, article blockquote, article li, article em { margin-top: 29px; font-size: 20px; line-height: 34px;
}
